body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.font {
  font-family: "MijaW03-Regular", sans-serif;
  font-weight: 700;
}

.top-header {
  background-color: gray;
  display: grid;
  grid-template-columns: min-content minmax(140px,2fr) 0 minmax(100px,350px);
  height: 103px;
  align-items: center;
  padding: 1rem 2em;
  box-sizing: border-box;
  column-gap: 10px;
  justify-content: flex-start;
}

.nav-bar {
  box-sizing: border-box;
}

.logo-img {
  width: 200px;
  margin-top: 10px;
}

.flex {
  display: flex;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0px;
  width: 100%;

}

.menu li {
  display: inline;
  font-size: 21px;
}

.menu li a {
  color: white;
}

.searchbar {
  margin-left: 20px;
  background-color: white;
  border-radius: 11px;
  width: 300px;
  height: 30px;
  padding-left: 40px;
}

.search-input {
  border: 0;
  height: 30px;
}

.title-cont {
  text-align: center;
  position: absolute;
  margin: 0 auto;
  margin-top: 50px;
  left: 0;
  right: 0;
}

.main-title {
  color: white;
}

.main-title span {
  background-color: rgb(53, 53, 53);
  padding: 0.3em 0.4em;
  line-height: 1.5em;
  box-decoration-break: clone;
}

.articles-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 650px 600px;
  padding-top: 170px;
  padding-bottom: 50px;
  background-color: rgb(70, 70, 70);
}

.ft-article {
  width: 570px;
  padding: 80px;
}

.ft-article h1 {
  font-size: 48px;
}

.author-cont {
  display: inline-block;
  position: relative;
  top: -40px;
  padding-left: 20px
}

.author {
  display: inline;
  font-size: 20px;
}

.comment {
  font-size: 20px;
}

.tags {
  padding-top: 20px;
}

.tags p {
  display: inline;
  font-size: 20px;
}

.fa-long-arrow-alt-right {
  padding-top: 60px;
  font-size: 40px;
}

.membership {
  position: relative;
  height: 460px;
  background: rgb(180, 179, 179);
  padding-bottom: 30px;
}

.membership-img {
  position: absolute;
  right: 150px;
  bottom: 250px;
}

.membership-cont {
  width: 700px;
  font-size: 20px;
  padding-left: 125px;
}

.membership-cont p{
  margin: 0;
  padding-top: 80px;
  line-height: 1.5em;
}

.membership-list li{
  padding: 10px 0;
}

.smashing-btn {
  color: white;
  font-size: 24px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(87, 87, 87);
  border: 0;
}

.latest-articles h3 {
  margin: 0;
  font-size: 28px;
}

.latest-cont {
  width: 500px;
  padding: 20px;
  background: lightgrey;
}

.date {
  font-size: 10px;
}

.article-author {
  font-size: 12px;
}

.paragraph {
  font-size: 16px;
  line-height: 1.8em;
  font-weight: 100;
}

.latest-top {
  height: 542px;
  justify-content: space-around;

}

.latest-mid {
  height: 800px;
  justify-content: space-around;
}

.latest-ft-cont {
  padding-bottom: 100px;
}

.latest-ft-cont h2 {
  font-size: 40px
}

.latest-features {
  color: white;
  width: 500px;
  text-align: center;
  padding: 20px;
  background-color: rgb(59, 59, 59);
  border-radius: 8px;
  border: 0;
}

.latest-features button {
  padding: 20px;
  font-size: 22px;
  border-radius: 10px;
}

.have-acc {
  font-size: 12px;
  font-weight: 100;
}

.shopify-logo {
  width: 500px;
  padding: 20px;
  background-color: lightgrey;
  text-align: center;
}

.shopify-logo p {
  font-size: 22px;
  line-height: 1.5em;
}

.shopify-info {
  padding: 25px 0;
  border: 1px solid grey;
  border-radius: 10px;
}
.shopify-info button {
  padding: 10px 20px;
  background-color: rgb(117, 117, 117);
}

.latest-bottom {
  padding-bottom: 40px;
}

.smashing-tv {
  width: 1500px;
  height: 661px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(59, 59, 59);
  border-radius: 10px;
  padding: 40px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.smashing-tv h2 {
  font-size: 40px;
}

.smashing-tv h2 a {
  text-decoration: underline;
}

.tv-paragraph {
  font-size: 20px;
  font-weight: 100;
  padding-bottom: 70px
}

.tv-have-acc {
  font-size: 15px;
  font-weight: 100;
}

.all-latest {
  text-align: center;
  text-decoration: underline;
  padding-bottom: 20px;
}

.click {
  text-align: center;
  background-color: rgb(82, 82, 82);
  padding: 50px 0;
  
}

.click h2 {
  font-size: 42px;
}

.click button {
  font-size: 26px;
  padding: 20px;
  border-radius: 10px;
  display: block;
  margin: 60px auto;
}

.click-p {
  font-size: 24px
}

.curated-week {
  width: 1300px;
  margin: 0 auto;
  height: 250px;
  padding: 50px 25px;
}

.curated-week img {
  float: left;
}

.curated-week h3{
  margin: 0;
}

.curated-title {
  background-color: rgb(170, 170, 170);
}


.week-content{
  position: relative;
  left: 40px;
  top: 30px;
  padding-right: 20px;
}

.curated-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 300px 300px 300px;
  padding: 35px;
  background-color: lightgray;
  margin-bottom: 50px ;
}

.curated-item {
  display: inline-block;
  padding: 20px;
}

.featured {
  position: relative;
  background-color: rgb(161, 159, 159);
  height: 400px;
}

.featured img {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.featured-cont {
  padding: 50px;
  width: 1000px;
}

.guides {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 460px 800px;
  margin-bottom: 20px;
}

.lg-bgc {
  background-color: lightgrey;
}

.g-bgc {
  background-color: grey;
}
.guide-article{
  padding: 80px;
}
.footer{
  height: 655px;
  text-align: center;
  padding: 0 400px;
  padding-top: 100px;
  
}
.footer ul li {
  display: inline;
  font-size: 24px;
  margin: 10px;
}
.commitment {
  padding: 30px 0 ;
  width: 500px;
  margin: 0 auto;
}