body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-body {
  margin: 0 auto;
  max-width: 1440px;
}

.top-header {
  background-color: gray;
  display: grid;
  grid-template-columns: min-content minmax(140px,2fr) 0 minmax(100px,350px);
  height: 103px;
  align-items: center;
  padding: 1rem 2em;
  box-sizing: border-box;
  column-gap: 10px;
  justify-content: flex-start;
}

.nav-bar {
  box-sizing: border-box;
}

.logo-img {
  width: 200px;
  margin-top: 10px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0px;
  width: 100%;

}

.menu li {
  display: inline;
  font-size: 21px;
}

.menu li a {
  color: white;
}

.searchbar {
  margin-left: 20px;
  background-color: white;
  border-radius: 11px;
  width: 300px;
  height: 30px;
  padding-left: 40px;
}

.search-input {
  border: 0;
  height: 30px;
}

.title-cont {
  text-align: center;
  position: absolute;
  margin: 0 auto;
  margin-top: 50px;
  left: 0;
  right: 0;
}

.main-title {
  color: white;
}

.main-title span {
  background-color: rgb(53, 53, 53);
  padding: 0.3em 0.4em;
  line-height: 1.5em;
  box-decoration-break: clone;
}

.articles-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 650px 600px;
  padding-top: 230px;
  padding-bottom: 30px;
  background-color: rgb(70, 70, 70);
}

.ft-article {
  width: 570px;
  padding: 50px;
}

.ft-article h1 {
  font-size: 48px;
}

.author-cont {
  display: inline-block;
  position: relative;
  top: -40px;
  padding-left: 20px
}

.author {
  display: inline;
  font-size: 20px;
}

.comment {
  font-size: 20px;
}

.tags {
  padding-top: 20px;
}

.tags p {
  display: inline;
  font-size: 20px;
}

.fa-long-arrow-alt-right {
  padding-top: 60px;
  font-size: 40px;
}